<head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'site.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>





</head>

<body>
    {% include 'polls/nav.html'%}
    <div class="absolute bg-cblue w-full h-2/3 -mt-16"></div>
    <div class="relative w-9/12 m-md:w-11/12 mx-auto z-10" x-data="programData()" x-init="observe()">
        <div class="h-1/2 mb-24">
            <div class="relative md:mt-32 text-white text-3xl font-bebas pt-32"><span class="bg-cgreen px-2">{{news.date}}</span></div>
            <div class="relative font-bebas text-7xl text-white  ">{{news.title}} </div>
            <p class="text-white text-xl w-1/2 pt-6 font-roboto font-thin">{{news.description}}</p>
        </div>
        
       

        
        <div id="how_works"></div>
        <!--optional html content start-->
        <div id="html_content" class="my-12 mx-auto">
            {{news.content|safe}}

            <div id="content" class=" observerTrigger"></div>
        </div>
        <!--optional html content end-->

   

        <div class="mx-auto h-1/3 md:w-5/6 bg-cblue rounded-lg mt-16">
            <h1 class="text-6xl font-bebas text-white text-center py-6">More Articles</h1>


            <div id="supporters" class=" observerTrigger"></div>
        </div>

        
        <div class="font-roboto m-md:text-lg md:text-3xl text-center mx-auto mt-16">
            These supporters have made it possible for California's teachers and students to create opportunity for generations through programs like this
        </div>

        <div id="action" class=" observerTrigger"></div>
        <div class="mx-auto flex flex-col md:flex-row justify-center m-md:space-y-2 md:space-x-2 text-xl my-12">
            <button class="px-16 py-6 bg-cblue rounded-lg text-white font-roboto">Support the CCEE today!</button>
            <button class="px-16 py-6 border-8 border-cgreen rounded-lg text-cgreen font-roboto">Get involved with CCEE</button>
        </div>

        <div class="mx-auto bg-blue px-6 py-4 bg-cblue mt-16 flex flex-col items-center">
            <h1 class="text-white text-4xl font-bebas mt-8">Stay updated on all things CCEE</h1>
            <input class="md:w-2/3 w-full m-8 p-2 font-roboto text-xl" placeholder="example@gmail.com"></input>
        </div>

    </div>
    {% include "polls/footer.html"%}
</body>

<script>
    


    function programData() {

        // var faqHighlight = false;
        // var observer = new IntersectionObserver(function(entries) {
        //     // isIntersecting is true when element and viewport are overlapping
        //     // isIntersecting is false when element and viewport don't overlap
        //     if(entries[0].isIntersecting === true)
        //     {
        //         this.faqHighlight = true;
        //         console.log('Element has just become visible in screen');
        //     }
                
        // }, { threshold: [0] });

        // observer.observe(document.querySelector("#faq"));
        return {
            highlighted: {},
            observe() {
                var observer = new IntersectionObserver(entries => {
                    // isIntersecting is true when element and viewport are overlapping
                    // isIntersecting is false when element and viewport don't overlap
                    if(entries[0].isIntersecting === true)
                    {
                        this.highlighted[entries[0].target.id + '-marker'] = true;
                    }
                    else {
                        this.highlighted[entries[0].target.id + '-marker'] = false;
                    }                                   
                }, { threshold: [0] });

                document.querySelectorAll(".observerTrigger").forEach((element) => observer.observe(element))                
            },
            firstQOpen: false,
            secondQOpen: false,
            thirdQOpen: false,
            scrollTo(position)
            {
                var elmnt = document.getElementById(position);
                elmnt.scrollIntoView(); 
            }


        }
    }

</script>
