<!--Banner Menu-->

    <div style="background-image: url(https://uc23e4359a8e7f2578a4af9a8c9e.previews.dropboxusercontent.com/p/thumb/ABEtJXN6dYPfdbbzzBPvUlZkB3R3rzzlW5xk-UpqD6coHvTnMGxyhjyomPE9yTYoO9HzODA31kvBDRp6hbcuR0KI_r0C35B2E1ik-IQedPfPZVDNCqV1rdlI_mTl5kwYH2vd4VBUB3_EYKKpvDEdmMenqj_J8hYkYhWoTUu41uJqFWeZOiAOF_dIOaFXVSoK0XulGy7QwSO-5od4I3vXWzbRIK8UPe-98gPGrT5Gw5kcUD-udv6Iv0rcnmWus7aWvlIF6Yr0Fhuuw8fvDFg7cFPEQwaX80cgsHqBDZ8gYJ7IzypUkboWzw97dcP6KOyhuefCI0eMuzY-XWR15EFkg1N2SwT1o17uy2SzinTrXK2fAEaflbwkbW3OSYFkEWsIvQeYfuJNqksX1n05Ze9yDB31G8UWA4CdLJD_rVAe6XFzONvObEosxYxwQPYbuCApIdiJCSDeA4DFqe_0NvH0PvOP/p.jpeg?fv_content=true&size_mode=5); background-size: cover; background-repeat: no-repeat; background-position: center;"
        class="bg-cblue md:w-1/2 md:py-16 py-12 m-md:pt-16  ml-12 m-md:mr-4  rounded-lg">
        <div class="absolute bg-cgreen -z-1 -ml-4 -mt-12 rounded-lg w-10/12 md:w-37" style="height: 35rem;"></div>
        <div class="hidden absolute bg-gradient-to-t from-black  opacity-80 to-transparent md:w-150 md:h-135 -mt-16 py-16 pb-12 z-1 rounded-lg"></div>

        <div class="relative flex flex-col mx-6 md:mx-20 md:mt-48 mt-24 z-30 m-md:space-y-2 ">
            <a class="md:text-4xl text-5xl text-white font-bold md:tracking-widester mb-4 font-bebas tracking-wide font-thin">QUICK LINKS</a>
            <a href="history-mission" class="text-lg m-md:text-2xl hover:text-cgreen text-white font-semibold m-md:font-roboto md:tracking-widester border-b-2 m-md:border-b-4  flex flex-row 
                justify-between items-center cursor-pointer">
                <span>Mission</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="md:w-1/12 w-2/12  ">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
            <a href="our-team" class="text-lg m-md:text-2xl hover:text-cgreen text-white font-semibold m-md:font-roboto md:tracking-widester border-b-2 m-md:border-b-4  flex flex-row 
                justify-between items-center cursor-pointer">
                <span>Our Team</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="md:w-1/12 w-2/12 ">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
            <a href="donors" class="text-lg m-md:text-2xl hover:text-cgreen text-white font-semibold m-md:font-roboto md:tracking-widester border-b-2 m-md:border-b-4  flex flex-row 
                justify-between items-center cursor-pointer">
                <span>Partners and Donors</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="md:w-1/12 w-2/12 ">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
            <a href="map" class="text-lg m-md:text-2xl hover:text-cgreen text-white font-semibold m-md:font-roboto md:tracking-widester border-b-2 m-md:border-b-4  flex flex-row 
                justify-between items-center cursor-pointer">
                <span>Centers on Economic Education</span>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="md:w-1/12 w-2/12 ">
                    <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
                </svg>
            </a>
        </div>
    </div>

<!--banner menu end-->