<!--Banner Menu-->
  <div class="flex flex-row mt-40">

    <div 
        style="background-image: url(https://uc23e4359a8e7f2578a4af9a8c9e.previews.dropboxusercontent.com/p/thumb/ABEtJXN6dYPfdbbzzBPvUlZkB3R3rzzlW5xk-UpqD6coHvTnMGxyhjyomPE9yTYoO9HzODA31kvBDRp6hbcuR0KI_r0C35B2E1ik-IQedPfPZVDNCqV1rdlI_mTl5kwYH2vd4VBUB3_EYKKpvDEdmMenqj_J8hYkYhWoTUu41uJqFWeZOiAOF_dIOaFXVSoK0XulGy7QwSO-5od4I3vXWzbRIK8UPe-98gPGrT5Gw5kcUD-udv6Iv0rcnmWus7aWvlIF6Yr0Fhuuw8fvDFg7cFPEQwaX80cgsHqBDZ8gYJ7IzypUkboWzw97dcP6KOyhuefCI0eMuzY-XWR15EFkg1N2SwT1o17uy2SzinTrXK2fAEaflbwkbW3OSYFkEWsIvQeYfuJNqksX1n05Ze9yDB31G8UWA4CdLJD_rVAe6XFzONvObEosxYxwQPYbuCApIdiJCSDeA4DFqe_0NvH0PvOP/p.jpeg?fv_content=true&size_mode=5); background-size: cover; background-repeat: no-repeat; background-position: center;" 
        class="bg-cblue w-1/2 py-16  ml-12  rounded-lg"
    >
        <div class="absolute bg-cgreen -z-1 -ml-4 -mt-12 rounded-lg" style="height: 32.7rem; width: 37%"></div>
        <div class="absolute bg-gradient-to-t from-black  opacity-80 to-transparent  -mt-16 py-16 pb-12 z-1 rounded-lg" style="width: 38.5rem; height: 32.7rem"></div>

        <div class="relative flex flex-col mx-20 mt-48 z-50">
            <a class="text-lg text-white font-bold tracking-widester mb-4" >QUICK LINKS</a>
            <a class="text-lg text-white font-semibold tracking-widester border-b-2  flex flex-row justify-between items-center cursor-pointer" ><span>Lucky Costa</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-1/12  ">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            </a>
            <a class="text-lg text-white font-semibold tracking-widester border-b-2  flex flex-row justify-between items-center cursor-pointer" ><span>Pepper Allman</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-1/12  ">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            </a>
            <a class="text-lg text-white font-semibold tracking-widester border-b-2  flex flex-row justify-between items-center cursor-pointer" ><span>Mickey</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-1/12  ">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            </a>
            <a class="text-lg text-white font-semibold tracking-widester border-b-2  flex flex-row justify-between items-center cursor-pointer" ><span>Watson</span> 
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-1/12  ">
                <path fill-rule="evenodd" d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
            </svg>
            </a>
        </div>
    </div>

    <div class="w-1/2">
      <h1 class="ml-16  text-9xl mt-12 text-gradient bg-cblue" style="font-family: 'Bebas Neue', cursive;">Our Team</h1>

      <p class="mx-16 text-lg -mr-2" style="font-family: 'Roboto', sans-serif;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially uncha</p>
    </div>
  </div>
  <!--banner menu end-->