<head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:image" itemprop="image" content="http://ccee-bucket.s3.amazonaws.com/static/CCEE-Logo-Final-5-2019-e1563236007990.png">
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />


    <link href="{% static 'site.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>





</head>

<body>
    {% include 'polls/nav.html'%}
    
    <div class="md:mt-32" x-data="loadEvents()" x-init="fetchEvents()">
        <h1 class="font-bebas text-cblue text-8xl mx-auto text-center m-md:pt-32">Upcoming Programs</h1>
        <div class="flex flex-row ">
            <div class="w-1/3"></div>
            <div class="flex flex-row justify-between w-2/3">
                
                <div class="m-md:hidden font-bold pt-4 ml-10" x-text="filteredEvents.length + ' events found'"></div>
                <div class="hidden">
                    <button class="border-2 border-gray-400 rounded px-4 py-1 font-roboto" @click="calendarView=false">List </button>
                    <button class="border-2 border-gray-400 rounded px-4 py-1 font-roboto mr-10 md:mr-44" @click="calendarView=true">Calendar</button>
                </div>
            </div>
        </div>
        <!--mobile filtering menu start-->
        <button class="w-11/12 border-2 text-xl py-2 my-6 mx-auto block md:hidden" @click="mobileOpen = !mobileOpen">Filter Results</button>
        <div class="flex flex-col mx-auto justify-center" x-show="mobileOpen">
                <div class=" w-11/12  mx-auto">
                    
                    <div>
                        <p class="font-bold mx-4 my-2">Search</p>
                        <input  class="inline-flex justify-center w-11/12 rounded-md border border-gray-400  mx-4 mb-4 
                        px-4 py-2 bg-white text-sm font-medium text-gray-700  focus:outline-none  
                        focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true" x-model="search" x-ref="searchBar">
                            
                        </input>
                    </div>

                    <div>
                        <p class="font-bold mx-4 my-2">Audience</p>
                        <button type="button" @click="topicOpen = !topicOpen" @click.away="topicOpen = false" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true" >
                            <span x-text="tagLabel()"></span>
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!-- Dropdown menu, show/hide based on menu state.
                
                    Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95" 
                    -->
                    <div x-show="topicOpen" class="origin-top-right  right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none">
                            <button @click="tagSearch = ''" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="tagSearch = 'Teacher Development'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Teacher Development
                            </button>
                            <button @click="tagSearch = 'Professional Development'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Professional Development
                            </button>

                        </div>
                    </div>

                    <div>
                        <p class="font-bold mx-4 my-2">Location</p>
                        <button type="button" @click="locationOpen = !locationOpen" @click.away="locationOpen = false" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true">
                            <span class="" x-text="locationLabel()"></span>
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!--
                        Dropdown menu, show/hide based on menu state.
                    
                        Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
                    <div x-show="locationOpen" class="origin-top-right  right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none">

                            <button @click="locationSearch = ''" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="locationSearch = 'Virtual'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Virtual
                            </button>
                            <button @click="locationSearch = 'Other'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" >
                                Other
                            </button>

                        </div>
                    </div>

                    <div class="hidden">
                        <p class="font-bold mx-4 my-2">Date</p>
                        <button type="button" @click="dateOpen = !dateOpen" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true">
                            Date Range
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!--
                            Dropdown menu, show/hide based on menu state.
                        
                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                    <div x-show="dateOpen" class="origin-top-right  right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none" @click="dateOpen = false">
                            <button @click="fetchEvents()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="fetchEventsByDay(7)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                One Week
                            </button>
                            <button @click="fetchEventsByDay(30)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                One Month
                            </button>
                            <button @click="fetchEventsByDay(90)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Three Months
                            </button>
                        </div>
                    </div>

                    

                    <button href='' class="rounded border border-gray-400 px-8 py-2 my-6 mx-4 w-11/12 font-bold font-roboto" @click="resetFilters()">
                        Reset Filters</button>

                </div>

                

                
            </div>
        <!--mobile filtering menu end-->

        <!--desktop filtering menu start-->
        

            <div class="flex flex-row mx-auto justify-center">
                <div class="hidden md:block w-3/12 ">
                    
                    <div>
                        <p class="font-bold mx-4 my-2">Search</p>
                        <input  class="inline-flex justify-center w-11/12 rounded-md border border-gray-400  mx-4 mb-4 
                        px-4 py-2 bg-white text-sm font-medium text-gray-700  focus:outline-none  
                        focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true" x-model="search" x-ref="searchBar">
                            
                        </input>
                    </div>

                    <div>
                        <p class="font-bold mx-4 my-2">Audience</p>
                        <button type="button" @click="topicOpen = !topicOpen" @click.away="topicOpen = false" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true" >
                            <span x-text="tagLabel()"></span>
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!-- Dropdown menu, show/hide based on menu state.
                
                    Entering: "transition ease-out duration-100"
                    From: "transform opacity-0 scale-95"
                    To: "transform opacity-100 scale-100"
                    Leaving: "transition ease-in duration-75"
                    From: "transform opacity-100 scale-100"
                    To: "transform opacity-0 scale-95" 
                    -->
                    <div x-show="topicOpen" class="origin-top-right  right-0 mt-2 w-full rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none">
                            <button @click="tagSearch = ''" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="tagSearch = 'Teacher Development'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Teacher Development
                            </button>
                            <button @click="tagSearch = 'Professional Development'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Professional Development
                            </button>

                        </div>
                    </div>

                    <div>
                        <p class="font-bold mx-4 my-2">Location</p>
                        <button type="button" @click="locationOpen = !locationOpen" @click.away="locationOpen = false" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true">
                            <span class="" x-text="locationLabel()"></span>
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!--
                        Dropdown menu, show/hide based on menu state.
                    
                        Entering: "transition ease-out duration-100"
                        From: "transform opacity-0 scale-95"
                        To: "transform opacity-100 scale-100"
                        Leaving: "transition ease-in duration-75"
                        From: "transform opacity-100 scale-100"
                        To: "transform opacity-0 scale-95"
                    -->
                    <div x-show="locationOpen" class="origin-top-right  right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none">

                            <button @click="locationSearch = ''" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="locationSearch = 'Virtual'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Virtual
                            </button>
                            <button @click="locationSearch = 'Other'" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" >
                                Other
                            </button>

                        </div>
                    </div>

                    <div class="hidden">
                        <p class="font-bold mx-4 my-2">Date</p>
                        <button type="button" @click="dateOpen = !dateOpen" class="inline-flex justify-center w-11/12 rounded-md border border-gray-300 shadow-sm mx-4 mb-4 px-4 py-2 bg-white text-sm font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-indigo-500"
                            id="options-menu" aria-expanded="true" aria-haspopup="true">
                            Date Range
                            <!-- Heroicon name: solid/chevron-down -->
                            <svg class="-mr-1 ml-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd" />
                            </svg>
                        </button>
                    </div>

                    <!--
                            Dropdown menu, show/hide based on menu state.
                        
                            Entering: "transition ease-out duration-100"
                            From: "transform opacity-0 scale-95"
                            To: "transform opacity-100 scale-100"
                            Leaving: "transition ease-in duration-75"
                            From: "transform opacity-100 scale-100"
                            To: "transform opacity-0 scale-95"
                        -->
                    <div x-show="dateOpen" class="origin-top-right  right-0 mt-2 w-56 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="options-menu">
                        <div class="py-1" role="none" @click="dateOpen = false">
                            <button @click="fetchEvents()" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Any
                            </button>
                            <button @click="fetchEventsByDay(7)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                One Week
                            </button>
                            <button @click="fetchEventsByDay(30)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                One Month
                            </button>
                            <button @click="fetchEventsByDay(90)" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900" role="menuitem">
                                Three Months
                            </button>
                        </div>
                    </div>

                    

                    <button href='' class="rounded border border-gray-400 px-8 py-2 my-4 mx-4 w-11/12 font-bold font-roboto" @click="resetFilters()">
                        Reset Filters</button>

                </div>

                

                <div class="md:w-8/12 mt-4" x-show="calendarView">
                    {% include 'polls/calendar-table.html' %}
                </div>
                
                
                <div class="md:w-8/12 mt-4" x-show="!calendarView">
                    <div class="md:hidden font-bold pt-4 ml-10" x-text="filteredEvents.length + ' events found'"></div>
                    <template x-for="event in filteredEvents">
                        <div @click="" class="m-md:flex m-md:flex-col md:overflow-hidden rounded border px-8 py-4 my-8 border-gray-500 shadow-md hover:shadow-lg w-11/12 mx-auto font-roboto ">
                            <div class="md:hidden flex flex-col flex-shrink-0 flex-grow-0 justify-center h-48 w-full rounded-xl overflow-hidden">
                                    <img class="object-cover md:hidden" :src="event.thumb_url">
                            </div>
                            
                            <div class="flex md:flex-row md:justify-between flex-col ">
                                <div class="m-md:hidden flex flex-col flex-shrink-0 flex-grow-0 justify-center h-40 w-64 rounded overflow-hidden mr-10">
                                    <img class="object-cover m-md:hidden" :src="event.thumb_url">
                                </div>
                            
                                <div class="flex flex-col w-full">
                                    <div class="w-full flex flex-row m-md:flex-col justify-between">
                                        <div class="flex flex-col ">
                                            <h1 class="text-sm text-gray-400" x-text="event.tags">Business, Career Development</h1>
                                            <div class="md:flex md:flex-row md:justify-between w-full">
                                                <h1 class="text-xl font-bold font-roboto" x-text="event.name">
                                                    event name
                                                </h1>

                                            </div>
                                            <div class="flex flex-row">
                                                <div class="w-full hidden">
                                                    <p class="leading-loose text-md mb-6" style="font-family: 'Roboto', sans-serif;" x-text="event.description">
                                                        description 
                                                    </p>

                                                    <a x-bind:href="event.registration_url" target="_blank" id="button" class=" rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover:bg-cblue hover:text-white  text-cblue font-normal py-1 my-4 px-3">
                                                        Register
                                                    </a>   
                                                </div>
                                            </div>
                                        </div>

                                        <div class="flex flex-col font-roboto text-right">

                                            <span class="flex flex-row space-x-1 justify-end m-md:justify-start items-center">
                                                <i class="far fa-calendar text-cgreen"></i>
                                                <h1 class="text-xl font-bold text-cblue text-right m-md:text-left" x-text="event.formatted_date">
                                                    date
                                                </h1>
                                                
                                            </span>
                                            <h1 class="text-xl font-bold text-cblue text-right m-md:text-left" x-text="event.time">
                                                date
                                            </h1>
                                            <span class="flex flex-row space-x-1 justify-end m-md:justify-start items-center">
                                                <i class="fas fa-map-marker-alt text-cgreen"></i>
                                                <h1 class="text-sm text-gray-400" x-text="event.location"></h1>
                                            </span>
                                            <span class="flex flex-row space-x-1 justify-end m-md:justify-start items-center">
                                                <i class="fas fa-graduation-cap text-cgreen"></i>
                                                <h1 class="text-sm text-gray-400" x-text="getGradeLevel(event.grade_level)"></h1>
                                                
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex flex-row">
                                        <div class="w-full ">
                                            <p class="leading-loose text-sm mb-6" style="font-family: 'Roboto', sans-serif;" x-text="event.description">
                                                description 
                                            </p>

                                            <a x-bind:href="event.registration_url" target="_blank" id="button" class=" rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover:bg-cblue hover:text-white  text-cblue font-normal py-1 my-4 px-3">
                                                Register
                                            </a>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="hidden flex  content-center items-center">
                                <img class="md:hidden md:w-3/12 h-11/12  object-contain" src="https://ccee.org/wp-content/uploads/2019/07/CCEE-Logo-Final-5-2019-e1563236007990.png">
                            </div>
                        </div>
                    </template>
                     {% comment %}
                    <div class="pagination">
                        <span class="step-links text-2xl">
                    {% if events.has_previous %}
                        <a href="?page=1"><i class="fas fa-angle-double-left "></i>First</a>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-angle-left"></i>Prev</a>
                    {% endif %}
            
                    <span class="current text-xl">
                        Page {{ events.number }} of {{ events.paginator.num_pages }}.
                    </span> {% if events.has_next %}
                        <a href="?page={{ events.next_page_number }}">Next<i class="fas fa-angle-right"></i></a>
                        <a href="?page={{ events.paginator.num_pages }}">Last<i class="fas fa-angle-double-right"></i></a> {% endif %}
                        </span>
                    </div>

                    <div class="pagination">
                        <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span> {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a> {% endif %}
                        </span>
                    </div> {% endcomment %}
                </div>
            </div>
        
    </div>
    



    {% include 'polls/footer.html'%}




    <script>
        function getGradeLevel(grade_level) {
            if(grade_level === 'K')
            {
                return 'Grades K-12'
            }
            else if (grade_level === 'N')
            {
                return 'Grades 9-12'
            }
            else if (grade_level === 'S')
            {
                return 'Grades 6-12'
            }
            else if (grade_level === 'I')
            {
                return 'Grades K-8'
            }
            else if (grade_level === 'E')
            {
                return 'Educator'
            }
            else{
                return ''
            }
        }

        
    </script>

    <script>
        
            {% comment %} 
            const state = 
            {
                events: [], 
            }
            fetch('/polls/event_list')
                .then(response => response.json())
                .then(data => {
                    console.log(data)
                    state.events.push(...data)
                }); {% endcomment %}
            function loadEvents()
            {
                return {
                    events: [],
                    fetchEvents() {
                        this.events = []
                        fetch('/event_list')
                            .then(response => response.json())
                            .then(data => {
                                //console.log(data)
                                this.events.push(...data)
                            });
                    },
                    fetchEventsByDay(days) {
                        this.events = []
                        
                        fetch('/event_list_date/' + days)
                            .then(response => response.json())
                            .then(data => {
                                //console.log(data)
                                
                                this.events.push(...data)
                                
                            });
                        console.log(this.events)
                    },
                    
                    search: "",
                    locationSearch: "",
                    tagSearch: "",
                    calendarView: false,
                    mobileOpen: false, 
                    topicOpen: false, 
                    locationOpen: false, 
                    dateOpen: false,
                    tagLabel() {
                        if(this.tagSearch == "")
                        {
                            return "Any Audience"
                        }
                        else
                        {
                            return this.tagSearch
                        }
                    },
                    locationLabel() {
                        if(this.locationSearch == "")
                        {
                            return "Any Location"
                        }
                        else
                        {
                            return this.locationSearch
                        }
                    },
                    resetFilters() {
                        this.tagSearch = ""
                        this.locationSearch = ""
                    },
                    get filteredEvents()
                    {
                        
                        console.log(this.events)
                        return this.events.filter((item) => {
                            return item.tags
                                        .toLowerCase()
                                        .includes(this.tagSearch.toLowerCase())
                                    && item.location
                                        .toLowerCase()
                                        .includes(this.locationSearch.toLowerCase())
                                    && item.name
                                        .toLowerCase()
                                        .includes(this.search.toLowerCase());
                        });
                    }

                }
            }
        
    </script>
</body>