<!-- footer -->
    <footer class="md:mx-32 mt-12 pt-12 pb-32 px-4 lg:px-0">
      <div class="flex flex-wrap">
        <div class="w-full lg:w-2/5">
          <p class="text-gray-600 hidden lg:block p-0 lg:pr-12">
            <span class="text-cblue font-bold">The California Council on Economic Education (CCEE)</span> works with California teachers to create financially literate students who thrive in the global economy. CCEE was founded as part of the California State University Foundation to provide training and standards-based curriculum in economics to California teachers and became a statewide 501(c)3 nonprofit organization in 1999.
          </p>
        </div>

        <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
          <h6 class="font-semibold text-gray-700 mb-4">About Us</h6>
          <ul>
            <li> <a href="history-mission" class="block text-gray-600 py-2">History + Mission</a> </li>
            <li> <a href="our-team" class="block text-gray-600 py-2">Our Team</a> </li>
            <li> <a href="map" class="block text-gray-600 py-2">Centers for Economic Education</a> </li>
            <li> <a href="report" class="block text-gray-600 py-2">Impact and Annual Reports</a> </li>
            <li> <a href="" class="block text-gray-600 py-2">Partners + Donors</a> </li>
            <li> <a href="news" class="block text-gray-600 py-2">News</a> </li>
          </ul>
        </div>

        <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
          <h6 class="font-semibold text-gray-700 mb-4">Programs</h6>
          <ul>
            <li> <a href="k12-programs" class="block text-gray-600 py-2">Educator Programs</a> </li>
            <li> <a href="student-programs" class="block text-gray-600 py-2">Student Programs</a> </li>
            <li> <a href="community-programs" class="block text-gray-600 py-2">Community Programs</a> </li>
            <li> <a href="calendar" class="block text-gray-600 py-2">Find Upcoming Events and Programs</a> </li>
          </ul>
        </div>

        <div class="w-full mt-6 lg:mt-0 md:w-1/2 lg:w-1/5">
          <h6 class="font-semibold text-gray-700 mb-4">Get Involved</h6>
          <ul>
            <li> <a href="donate" class="block text-gray-600 py-2">Donate</a> </li>
            <li> <a href="volunteer" class="block text-gray-600 py-2">Volunteer</a> </li>
            <li> <a href="contact" class="block text-gray-600 py-2">Contact us</a> </li>
          </ul>
        </div>

      </div>
    </footer>