<div onclick="location.href='https://secure.givelively.org/donate/ccee/california-s-golden-opportunity-teach-one-empower-thousands';"   
    class="flex flex-col mx-auto w-2/3 m-md:w-full m-md:px-2 m-md:mt-18 mt-12 cursor-pointer text-center">

    <img class="w-full " src={% static 'CAGoldenOpportunity.png' %}>
    </img>
    <div class="w-full p-2 bg-yellow-500 rounded-b-lg">
        <span class="text-white m-md:text-3xl text-6xl font-bebas">LEARN MORE AND DONATE TODAY</span>
    </div>
    <div class="flex flex-row justify-end">
        <div class="flex flex-row cursor-pointer space-x-2 bg-cblue hover:bg-cblue-dark rounded-b-lg font-bebas text-2xl w-42 px-4 py-1 mr-6"> 
        <span class="text-white">click here</span>
        <i class="fas fa-arrow-right text-2xl text-yellow-500 "></i>
        </div>
    </div>
</div>