<head>
{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="{% static "site.css" %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<script>
  
  function data() {
    return {
      open: false,
      ourteamOpen : false,
      centersOpen : false,
      bodOpen : false,
      dapOpen : false,
      arOpen : false,
      atTop : true,
      popupOpen : false,
      whatwedoOpen : false,
      menuClear(openMenu) {
        if(openMenu == 'ourteamOpen')
        {
          this.ourteamOpen = true
        }
        else
        {
          this.ourteamOpen = false
        }

        if(openMenu == 'centersOpen')
        {
          this.centersOpen = true
        }
        else
        {
          this.centersOpen = false
        }

        if(openMenu == 'bodOpen')
        {
          this.bodOpen = true
        }
        else
        {
          this.bodOpen = false
        }

        if(openMenu == 'dapOpen')
        {
          this.dapOpen = true
        }
        else
        {
          this.dapOpen = false
        }

        if(openMenu == 'arOpen')
        {
          this.arOpen = true
        }
        else
        {
          this.arOpen = false
        }
        
      },
      
      clearsubmenus()
      {
        this.ourteamOpen = false
        this.centersOpen = false
        this.bodOpen = false
        this.dapOpen = false
        this.arOpen = false
      }
    }
  }
</script>

<script>
  function popupData() {
      return {
        popupOpen : false
      }
  }
</script>

<script>
  function panelData() {
      return {
        firstpanelOpen : true,
        secondpanelOpen : false,
        thirdpanelOpen : false,
        secondpanelText : false,
        thirdpanelText : false,
      }
  }
</script>

</head>

{% include "polls/nav.html"%}

<div class="mx-auto flex flex-col max-w-screen-xl">
    {% include "polls/banner-nav.html" %}

    <div class="w-1/2 mx-auto pt-16 mb-24 mt-12 text-center">
        <h1 class="text-7xl font-bold text-center text-cblue" style="font-family: 'Bebas Neue', cursive;">About Us Long Header </h1>
        <p class="mt-10 my-4 leading-loose" style="font-family: 'Roboto', sans-serif;" >Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.  </p>
        <p class="mt-10 my-4 leading-loose" style="font-family: 'Roboto', sans-serif;" >Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. </p>
        <p class="leading-loose" style="font-family: 'Roboto', sans-serif;" >Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.</p>
    </div>

    <div class="flex flex-row my-8">
        <img class="rounded-full" src="https://mk0radicalcandov3r1t.kinstacdn.com/wp-content/uploads/2020/08/Screen-Shot-2020-08-06-at-3.46.34-PM.png">
        <div class="pl-12">
            <h1 class="text-7xl font-bold text-cblue" style="font-family: 'Bebas Neue', cursive;">Header</h1>
            <p class="leading-loose" style="font-family: 'Roboto', sans-serif;" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a</p>
        </div>
    </div>

    <div class="flex flex-row my-8">
        <div class="pl-12">
            <h1 class="text-7xl font-bold text-cblue" style="font-family: 'Bebas Neue', cursive;">Header</h1>
            <p class="leading-loose" style="font-family: 'Roboto', sans-serif;" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a</p>
        </div>
        <img class="rounded-full" src="https://mk0radicalcandov3r1t.kinstacdn.com/wp-content/uploads/2020/08/Screen-Shot-2020-08-06-at-3.46.34-PM.png">
    </div>

    <div class="flex flex-row my-8">
        <img class="rounded-full" src="https://mk0radicalcandov3r1t.kinstacdn.com/wp-content/uploads/2020/08/Screen-Shot-2020-08-06-at-3.46.34-PM.png">
        <div class="pl-12">
            <h1 class="text-7xl font-bold text-cblue" style="font-family: 'Bebas Neue', cursive;">Header</h1>
            <p class="leading-loose" style="font-family: 'Roboto', sans-serif;" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a</p>
        </div>
    </div>

    <div class="text-center w-4/12 mx-auto mt-16">
        <p style="font-family: 'Roboto', sans-serif;">Need help overcoming these specific guidance and feedback challenges? We’ve got a suite of resources to help you get you started.</p>
        <button type="button" id="button" class="hover:bg-cblue hover:text-white mt-4 rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover-bg-blue-300  text-cblue font-normal py-2 px-6 ">
            Learn More
        </button>
    </div>
</div>

<section class="bg-gray-100 py-12 my-12" >
    <div class="flex flex-row my-8">
        <div class="pl-12 text-center">
            <h1 class="text-7xl font-bold text-center" style="font-family: 'Bebas Neue', cursive;">Somthing About Candid Conversation</h1>
            <p class="leading-loose text-center w-1/3 mx-auto" style="font-family: 'Roboto', sans-serif;" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a</p>
        </div>
    </div>

    <div class="flex flex-row my-24 max-w-screen-lg mx-auto ">
        <div class="pl-12 pr-10">
            <h1 class="text-7xl font-bold text-cblue" style="font-family: 'Bebas Neue', cursive;">Header</h1>
            <p class="leading-loose" style="font-family: 'Roboto', sans-serif;" >It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a</p>
        </div>
        <img class="rounded-full w-5/12" src="https://mk0radicalcandov3r1t.kinstacdn.com/wp-content/uploads/2019/04/2x2.png">
    </div>
    
</section>