{% load static %}

<link href="{% static "site.css" %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>


<style>
  #header {
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
  }
  #camp-text {
    font-family: 'Roboto Condensed', sans-serif;
    
    color: #ffffff;
  }
   #button {
    border-color: #0071BC;
  }
  #button:hover {
    background-color: #0071BC;
    
  }
  #ccee-color {
    background-color: #88c23d;
  }
  #ccee-blue {
    background-color: #0071BC;
  } 
  #card-background {
    margin-top: 545px;
    z-index: -1;
    height:
    575px;
    
  }
</style>

<script>
  
  function data() {
    return {
      open: false,
      ourteamOpen : false,
      centersOpen : false,
      bodOpen : false,
      dapOpen : false,
      arOpen : false,
      atTop : true,
      popupOpen : false,
      whatwedoOpen : false,
      menuClear(openMenu) {
        if(openMenu == 'ourteamOpen')
        {
          this.ourteamOpen = true
        }
        else
        {
          this.ourteamOpen = false
        }

        if(openMenu == 'centersOpen')
        {
          this.centersOpen = true
        }
        else
        {
          this.centersOpen = false
        }

        if(openMenu == 'bodOpen')
        {
          this.bodOpen = true
        }
        else
        {
          this.bodOpen = false
        }

        if(openMenu == 'dapOpen')
        {
          this.dapOpen = true
        }
        else
        {
          this.dapOpen = false
        }

        if(openMenu == 'arOpen')
        {
          this.arOpen = true
        }
        else
        {
          this.arOpen = false
        }
        
      },
      
      clearsubmenus()
      {
        this.ourteamOpen = false
        this.centersOpen = false
        this.bodOpen = false
        this.dapOpen = false
        this.arOpen = false
      }
    }
  }
</script>

<script>
  function popupData() {
      return {
        popupOpen : false
      }
  }
</script>

<script>
  function panelData() {
      return {
        firstpanelOpen : true,
        secondpanelOpen : false,
        thirdpanelOpen : false,
        secondpanelText : false,
        thirdpanelText : false,
      }
  }
</script>




<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->

{% include "polls/nav.html" %}

<!-- main post -->

<div class="pt-6 mx-auto">

    <main class=" ">

      <div class="hidden bg-black absolute bg-opacity-70 -ml-64   md:h-2/3  -mt-8 z-1 overflow-hidden" >
        <img src="{% static 'index/CCEE-2021Gala-BackgroundGradient.jpg' %}" class="object-cover m-md:h-200">
      </div>

      
      <!-- featured section -->
      <div class="flex flex-wrap md:flex-no-wrap justify-center space-x-0  pb-24">
        
        {% include "polls/smartpath-banner.html" %}

      <!--featured content-->
      <div x-data="panelData()" class=" pt-32 w-full max-w-screen-xl md:px-16">
        
        <div class="flex flex-col md:flex-row justify-center ">
          <button @click="firstpanelOpen=true, secondpanelOpen=false, thirdpanelOpen=false" 
            type="button" 
            x-bind:class='{"text-cgray border-cgray shadow-none": !firstpanelOpen }'
            class="md:py-4 m-md:mx-auto m-md:w-11/12 rounded text-lg md:w-3/12 m-md:py-2 m-md:my-2 font-semibold ml-6  mt-0 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:text-cblue hover:border-cblue  border-2 border-cblue text-cblue shadow-2xl font-normal  px-6"
          >
              I'm a K-12 Educator 
          </button>

          <button @click="secondpanelOpen=true, firstpanelOpen=false, thirdpanelOpen=false" 
            type="button" 
            x-bind:class='{"text-cgray border-cgray shadow-none": !secondpanelOpen }'
            class="md:py-4 m-md:mx-auto m-md:w-11/12 rounded text-lg md:w-3/12 m-md:py-2 m-md:my-2 font-semibold ml-6  mt-0 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:text-cblue hover:border-cblue  border-2 border-cblue text-cblue shadow-2xl font-normal  px-6"
          >
              I'm a Community Member
          </button>

          <button @click="thirdpanelOpen=true, firstpanelOpen=false, secondpanelOpen=false" 
            type="button" 
            x-bind:class='{"text-cgray border-cgray shadow-none": !thirdpanelOpen }'
            class="md:py-4 m-md:mx-auto m-md:w-11/12 rounded text-lg md:w-3/12 m-md:py-2 m-md:my-2 font-semibold ml-6  mt-0 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:text-cblue hover:border-cblue  border-2 border-cblue text-cblue shadow-2xl font-normal  px-6"
          >
              I’m an Advocate
          </button>
        </div>
        
        <!--First panel-->
        <div x-show="firstpanelOpen" class="flex flex-col md:flex-row w-full mt-8 space-x-1 m-md:space-y-6 m-md:justify-center">
          <!--first card-->
          <div 
            class="flex-grow items-center md:w-1/2  cursor-pointer "
          >
            
            <div
              class="bg-white overflow-hidden w-full relative md:h-72 h-2/3 m-md:w-11/12 pb-12 md:pb-36 rounded-lg flex flex-col mx-auto"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-cblue text-3xl p-2 rounded-lg h-full w-full opacity-100"></span>
              <img
                src=""
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl p-2 rounded-lg pt-6 pl-8">
                Attend Professional Development Sessions
                <i class="fas fa-angle-right"></i>
              </span>
              <span 
                style="font-family: 'Roboto', sans-serif;"
                class="md:absolute  w-full z-10 text-white px-8 md:mt-24"
              >Whether you’re just starting, or you’ve been teaching for years, there’s a CCEE program that will fit every educator's needs!</span>

              <button @click="window.location.href='k12-programs'"
                type="button" 
               
                class="md:absolute rounded text-xl w-3/6 h-1/6 font-semibold ml-8 m-md:mt-6 m-md:mb-2 md:mt-44 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:bg-white hover:text-cblue-dark border-2 border-white text-white font-normal px-4 z-40"
              >
                  Learn More
              </button>
              
            </div>
            
          </div>
          <!--second card-->
          <div 
            @click="window.location.href='student-programs'"
            @mouseover="secondpanelText = true"
            @mouseover.away="secondpanelText = false"
            class="flex-grow flex flex-col items-center md:w-1/3  cursor-pointer "
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": secondpanelText }'
              ></span>
              <img
                src="{% static 'index/CREATE Conf_2016 272.jpg' %}"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8">
                Student Contests
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": secondpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-16 md:text-opacity-0"
              >
                Win cash prizes and empower your students to succeed through our hands-on, experiential learning competitions.
              </div>
              
            </div>
            
          </div>
          <!--third card-->
          <div 
            @mouseover="thirdpanelText = true"
            @mouseover.away="thirdpanelText = false"
            class="hidden flex-grow flex flex-col items-center md:w-1/3  cursor-pointer"
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": thirdpanelText }'
              ></span>
              <img
                src="{% static 'index/brotherhood cru.jpg' %}"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8">
                Daily Dose of Econ
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": thirdpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-16 md:text-opacity-0"
              >
                Daily resources to bring economics to life in your classroom!
              </div>
              
            </div>
            
          </div>
        </div>
        <!--First panel end-->

        <!--Second panel-->
        <div x-show="secondpanelOpen" class="flex flex-col md:flex-row w-full mt-8 space-x-1 m-md:space-y-6 m-md:justify-center">
          <!--first card-->
          <div 
            class="flex-grow items-center md:w-1/2  cursor-pointer "
          >
            
            <div
              class="bg-white overflow-hidden w-full relative md:h-72 h-2/3 m-md:w-11/12 pb-12 md:pb-36 rounded-lg flex flex-col mx-auto"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-cgreen-dark text-3xl p-2 rounded-lg h-full w-full opacity-100"></span>
              <img
                src="https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl p-2 rounded-lg pt-6 pl-8">
                Join a Family Financial Literacy Event!
                <i class="fas fa-angle-right"></i>
              </span>
              <span 
                style="font-family: 'Roboto', sans-serif;"
                class="md:absolute  w-full z-10 text-white px-8 md:mt-24"
              >
                Come together for a fun event to learn about making good personal finance decisions, why money matters, and how you can make it work for YOU!
              </span>

              <button  @click="window.location.href='/programs/Family Financial Literacy Event'" 
                type="button" 
                
                class="md:absolute rounded text-xl w-3/6 h-1/6 font-semibold ml-8 m-md:mt-6 m-md:mb-2 md:mt-44 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:bg-white hover:text-cblue-dark border-2 border-white text-white font-normal px-4 z-40"
              >
                  Learn More
              </button>
              
            </div>
            
          </div>
          <!--second card-->
          <div 
            @mouseover="secondpanelText = true"
            @mouseover.away="secondpanelText = false"
            class="hidden flex-grow flex flex-col items-center md:w-1/3  cursor-pointer"
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": secondpanelText }'
              ></span>
              <img
                src=""
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8 mr-4">
                Learn about out Black, Indigenous, People of Color (BIPOC) Economic Equity Initiative 
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": secondpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-16 md:text-opacity-0"
              >
                
              </div>
              
            </div>
            
          </div>
          <!--third card-->
          <div 
            @click="window.location.href='history-mission'"
            @mouseover="thirdpanelText = true"
            @mouseover.away="thirdpanelText = false"
            class="flex-grow flex flex-col items-center md:w-1/3  cursor-pointer"
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": thirdpanelText }'
              ></span>
              <img
                src="{% static 'index/CCEE_Luis_4-2016 55.jpg' %}"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8 mr-4">
                Learn more about CCEE
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": thirdpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-24 md:text-opacity-0"
              >
                Find out how we’re building a brighter future for California, one classroom at a time.
              </div>
              
            </div>
            
          </div>
        </div>
        <!--Second panel end-->

        <!--Third panel-->
        <div x-show="thirdpanelOpen" class="flex flex-col md:flex-row w-full mt-8 space-x-1 m-md:space-y-6 m-md:justify-center">
          <!--first card-->
          <div 
            class="flex-grow items-center md:w-1/2  cursor-pointer "
          >
            
            <div
              class="bg-white overflow-hidden w-full relative md:h-72 h-2/3 m-md:w-11/12 pb-12 md:pb-36 rounded-lg flex flex-col mx-auto"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-cblue-dark text-3xl p-2 rounded-lg h-full w-full opacity-100"></span>
              <img
                src="https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl p-2 rounded-lg pt-6 pl-8">
                Support CCEE’s Work 
                <i class="fas fa-angle-right"></i>
              </span>
              <span 
                style="font-family: 'Roboto', sans-serif;"
                class="md:absolute  w-full z-10 text-white px-8 md:mt-24"
              >
                Help us build intergenerational mobility by empowering K-12 educators to teach economics and personal finance education in California’s schools 
              </span>

              <button @click="window.location.href='/donate'"
                type="button" 
                class="md:absolute rounded text-xl w-3/6 h-1/6 font-semibold ml-8 m-md:mt-6 m-md:mb-2 md:mt-44 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline hover:bg-white hover:text-cblue-dark border-2 border-white text-white font-normal px-4 z-40"
              >
                  Learn More
              </button >
              
            </div>
            
          </div>
          <!--second card-->
          <div 
            @click="window.location.href='/programs/Family Financial Literacy Event'"
            @mouseover="secondpanelText = true"
            @mouseover.away="secondpanelText = false"
            class="flex-grow flex flex-col items-center md:w-1/3  cursor-pointer"
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": secondpanelText }'
              ></span>
              <img
                src="{% static 'index/IMG_0588.JPG' %}"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8 mr-3">
                For 60 years, we’ve been dedicated to economics and financial literacy 
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": secondpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-40 md:text-opacity-0"
              >
                Learn more about CCEE & how we’re supporting California’s educators to empower their students 
              </div>
              
            </div>
            
          </div>
          <!--third card-->
          <div 
            @click="window.location.href='/contact'"
            @mouseover="thirdpanelText = true"
            @mouseover.away="thirdpanelText = false"
            class="flex-grow flex flex-col items-center md:w-1/3  cursor-pointer"
          >
            
            <div
              class="bg-white overflow-hidden w-full relative h-72 m-md:pb-2 md:pb-36 rounded-lg m-md:flex m-md:flex-col m-md:w-11/12 m-md:w-11/12"
            >
              <span id="camp-text" style="z-index: 2;" class="absolute bg-gradient-to-b from-black to-gray-500 text-3xl p-2 rounded-lg h-full w-full opacity-50" 
                x-bind:class='{"opacity-70": thirdpanelText }'
              ></span>
              <img
                src="{% static 'index/CREATE Conf_2016 404.jpg' %}"
                class="absolute h-full w-full object-cover object-center"
                alt=""
                style="z-index: 1;"
              />
              <span id="camp-text" style="z-index: 3;" class="md:absolute text-gray-800 text-3xl  rounded-lg pt-6 ml-8 mr-8">
                I want to bring K-12 economics and personal finance education to my school 
                <i class="fas fa-angle-right"></i>
              </span>
              <div 
              style="font-family: 'Roboto', sans-serif;"
              x-bind:class='{ "pt-4 md:text-opacity-100": thirdpanelText  }'
              class="md:absolute m-md:block m-md:py-4 transition-all ease-in-out w-full z-10 text-white px-8 md:mt-48 md:text-opacity-0"
              >
                Let’s work together to make it happen! 
              </div>
              
            </div>
            
          </div>
        </div>
        <!--Third panel end-->
        
      </div>
      

      <!--Daily dose section -->
      <div class="my-20 bg-cblue w-full">
        {% comment %} <div class="absolute h-4/5 border-2  bg-cblue w-170 -ml-72 -z-1"></div> {% endcomment %}
        <div class="flex flex-col items-center text-center mt-4">
            <img onclick="window.location.href='/daily-dose'"
                src="{% static 'daily-white.png' %}"
                class="h-56 cursor-pointer"
              />
            <p class="font-roboto text-white text-3xl md:mx-96 m-md:mx-2">
              Support your online instruction through daily, relevant topic exploration. We’ve made it easy for you. Just click and learn!
            </p>
        </div>
        <div class="flex flex-col md:flex-row w-full md:space-x-10 m-md:space-y-12 mt-12 mb-20 mx-auto justify-center">
          
          

          <!--first card-->
          <div class="flex flex-col  md:h-90 self-center items-center w-3/4  md:w-1/4 cursor-pointer">
            <div class="bg-transparent overflow-hidden  w-full relative h-52 pb-36">
              <img
                src="{{first_dose.banner_photo.url}}"
                class="absolute h-full w-full object-cover object-center rounded-t-lg bg-cblue"
                alt=""
              />
            </div>
            <div class="z-10 md:h-full w-full">
              <div class="flex flex-col bg-white rounded-b-lg md:h-full justify-between py-5 px-5">
                <div class="-mt-10">
                  <span id="camp-text" class="px-4 text-gray-800 text-2xl p-2 rounded-sm  -ml-10 bg-cgreen ">{{first_dose.topic}}</span>
                </div>
                <div class="flex items-center justify-between mt-6">
                  <div class=" text-gray-600 font-light">{{first_dose.key_question}}</div>
                  <div class="text-2xl text-red-600 font-bold"></div>
                </div>
                <button onclick="window.location.href='/daily-dose/{{first_dose.topic}}'" type="button" id="button" class="md:w-1/3 mt-2 justify-self-end rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover:bg-cblue hover:text-white  text-cblue font-normal py-1 text-center">
                  Read More
                </button> 
              </div>
            </div>
          </div>
          <!--second card-->
          <div class="flex flex-col  md:h-90 self-center items-center w-3/4  md:w-1/4 cursor-pointer">
            <div
              class="bg-transparent overflow-hidden  w-full relative h-52 pb-36"
            >
              <img
                src="{{second_dose.banner_photo.url}}"
                class="absolute h-full w-full object-cover object-center rounded-t-lg bg-cblue"
                alt=""
              />
            </div>
            <div class="z-10 md:h-full w-full">
              <div class="flex flex-col bg-white md:h-full rounded-b-lg justify-between  py-5 px-5">
                <div class="-mt-10">
                  <span id="camp-text" class="px-4 text-gray-800 text-2xl p-2 rounded-sm -ml-10 bg-cgreen">{{second_dose.topic}}</span>
                </div>
                <div class="flex items-center justify-between mt-6">
                  <div class=" text-gray-600 font-light">{{second_dose.key_question}}</div>
                  <div class="text-2xl text-red-600 font-bold"></div>
                </div>
                <button onclick="window.location.href='/daily-dose/{{second_dose.topic}}'" type="button" id="button" class="md:w-1/3 mt-2 justify-self-end rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover:bg-cblue hover:text-white  text-cblue font-normal py-1 text-center">
                  Read More
                </button> 
              </div>
            </div>
          </div>
          <!--third card-->
          <div class="flex flex-col  md:h-90 self-center items-center w-3/4  md:w-1/4 cursor-pointer">
            <div class="bg-transparent overflow-hidden  w-full relative h-52 pb-36" >
              <img
                src="{{third_dose.banner_photo.url}}"
                class="absolute h-full w-full object-cover object-center rounded-t-lg bg-cblue"
                alt=""
              />
            </div>
            <div class="z-10 md:h-full w-full">
              <div class="flex flex-col bg-white rounded-b-lg md:h-full justify-between py-5 px-5">
                <div class="-mt-10">
                  <span id="camp-text" class="px-4 text-gray-800 text-2xl p-2 rounded-sm -ml-10 bg-cgreen">{{third_dose.topic}}</span>
                </div>
                <div class="flex items-center justify-between mt-6">
                  <div class=" text-gray-600 font-light">{{third_dose.key_question}}</div>
                  <div class="text-2xl text-red-600 font-bold"></div>
                </div>
                <button onlcick="window.location.href='/daily-dose/{{third_dose.topic}}'" type="button" id="button" class="md:w-1/3 mt-2 justify-self-end rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover:bg-cblue hover:text-white  text-cblue font-normal py-1 text-center">
                  Read More
                </button> 
              </div>
            </div>
          </div>
      </div>
      <div class="flex flex-col justify-end m-md:mr-4 md:px-16 pb-4">
        <a href="/daily-dose" class="flex flex-row justify-end align-center cursor-pointer font-roboto text-3xl text-white text-right justify-self-end ">
          <span class="md:px-16 pb-4">More DDOE topics <i class="fas -mt-4 py-4 self-center align-center text-3xl text-yellow-500 fa-arrow-right"></i></span>
        </a>
      </div>
      </div> 

      

      </div>
      <!-- end featured section -->

      
  
  

      <!-- News -->
    

      
      <div x-data="loadEvents()" x-init="fetchEvents()" class="block space-x-0 lg:flex lg:space-x-6 lg:space-x-12 max-w-screen-xl mx-auto md:px-16">

        <div class=" w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
          <h1 class="text-7xl" style="font-family: 'Bebas Neue', cursive;">News</h1>
          <div  class="h-3 w-12 bg-cgreen"></div>
        </div>

        <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0 ">
          <img  src="{% static 'index/IMG_6196.JPG'%}" class="relative rounded -z-1" alt="technology" />
          <div  class="relative p-4 pl-0 z-20">
            
            <h2 class="-ml-4 -mr-4 md:-ml-8  z-20 text-5xl text-gray-800  p-2  -mt-10 font-bebas overflow-hidden overflow-clip">
              <span class="leading-loose text-white bg-cblue p-2 px-4 rounded">
                CCEE in The News 
              <span>
            </h2>
            
            <p class="text-gray-700 mt-4 text-md md:h-28">
              California Council on Economic Education President and CEO Denise Gutierrez Named As One of Hispanic Lifestyle ‘s Latinas of Influence
            </p>

            <a target="_blank" href="https://www.hispaniclifestyle.com/online-with-richard-sandoval/episode-9-online-with-richard-sandoval-featuring-denise-m-gutierrez/" class="inline-block py-2 px-4 rounded text-white mt-2 ml-auto bg-cgreen hover:bg-cgreen-dark font-roboto text-xl"> Read more </a>
          </div>
        </div>

        <div class="rounded w-full lg:w-1/2 lg:w-1/3 p-4 lg:p-0">
          <img src="{% static 'index/CCEE-2019Gala-259.jpg' %}" class="rounded" alt="technology" />
          <div  class="relative p-4 pl-0 z-20">
              <div class="-ml-4 md:-ml-8  z-20 text-5xl text-gray-800  p-2 text-thin -mt-10 font-bebas rounded-lg">
                <span  class="leading-loose text-white bg-cblue p-2 px-4 rounded">
                  Media Release
                <span>
              </div>
            <p class="text-gray-700 mt-4 text-md md:h-28">
              San Diego County Board of Supervisors Gets Behind Financial Literacy and Intergenerational Opportunity 
            </p>

            <a href="news/San Diego County Board of Supervisors Gets Behind Financial Literacy And Intergenerational Opportunity" class="inline-block py-2 px-4 rounded text-white mt-2 ml-auto bg-cgreen hover:bg-cgreen-dark font-roboto text-xl"> Read more </a>
          </div>
        </div>

        

      </div>
      <!-- end news -->

    

      <div class="flex flex-col mt-6 space-y-4 mx-auto w-11/12 md:w-2/3">
        <h3 class="text-5xl font-bebas text-cblue m-md:text-center pt-6 md:-mb-4">Stay up to date on all things CCEE</h3>
        <!-- Begin Constant Contact Inline Form Code -->
        <div class="ctct-inline-form" data-form-id="9281332b-d241-481e-bb0e-45cc69fe70e7"></div>
        <!-- End Constant Contact Inline Form Code -->
      </div>

    </main>
    <!-- main ends here -->

    
    
    
    {% include "polls/footer.html"%}
  </div>

  <script>

    function loadEvents()
            {
              
                return {
                    events: [],
                    fetchEvents() {
                        this.events = []
                        fetch('/news_list')
                            .then(response => response.json())
                            .then(data => {
                                //console.log(data)
                                this.events.push(...data)
                            });
                    },
                    fetchEventsByDay(days) {
                        this.events = []
                        
                        fetch('/news_list_date/' + days)
                            .then(response => response.json())
                            .then(data => {
                                //console.log(data)
                                this.events.push(...data)
                            });
                    },
                    
                    search: "",
                    locationSearch: "",
                    tagSearch: "",
                    calendarView: false,
                    mobileOpen: false, 
                    topicOpen: false, 
                    locationOpen: false, 
                    dateOpen: false,
                    tagLabel() {
                        if(this.tagSearch == "")
                        {
                            return "Any Audience"
                        }
                        else
                        {
                            return this.tagSearch
                        }
                    },
                    locationLabel() {
                        if(this.locationSearch == "")
                        {
                            return "Any Location"
                        }
                        else
                        {
                            return this.locationSearch
                        }
                    },
                    resetFilters() {
                        this.tagSearch = ""
                        this.locationSearch = ""
                    },
                    get filteredEvents()
                    {
                        
                        console.log(this.events)
                        return this.events.filter((item) => {
                            return item.fields.tags
                                        .toLowerCase()
                                        .includes(this.tagSearch.toLowerCase())
                                    && item.fields.location
                                        .toLowerCase()
                                        .includes(this.locationSearch.toLowerCase())
                                    && item.fields.title
                                        .toLowerCase()
                                        .includes(this.search.toLowerCase());
                        });
                    }

                }
            }



    // window.addEventListener( "load", function () {
    //   function sendData() {
    //     const XHR = new XMLHttpRequest();

    //     // Bind the FormData object and the form element
    //     const FD = new FormData(form);

    //     FD.append("create_source", "Account");
    //     console.log(FD);  
    //     // Define what happens on successful data submission
    //     XHR.addEventListener( "load", function(event) {
    //       alert( event.target.responseText );
    //     } );

    //     // Define what happens in case of error
    //     XHR.addEventListener( "error", function( event ) {
    //       alert( 'Oops! Something went wrong.' );
    //     } );

    //     // Set up our request
    //     XHR.open( "POST", "https://api.cc.email/v3/account/emails?api_key=65905886-48af-477f-b935-de5536f22764" );

    //     // The data sent is what the user provided in the form
    //     XHR.send( FD );
    //   }

    //   // Access the form element...
    //   const form = document.getElementById("signup");

    //   // ...and take over its submit event.
    //   form.addEventListener( "submit", function ( event ) {
    //     event.preventDefault();

    //     sendData();
    //   } );
    // } );
  </script>

  <!-- Begin Constant Contact Active Forms -->
  <script> var _ctct_m = "7c85ca4a273adbb5078e387bee3b7a09"; </script>
  <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async defer></script>
  <!-- End Constant Contact Active Forms -->