<script>
    function data() {
        return {
            open: false,
            ourteamOpen: false,
            centersOpen: false,
            bodOpen: false,
            dapOpen: false,
            arOpen: false,
            atTop: true,
            popupOpen: false,
            whatwedoOpen: false,
            menuClear(openMenu) {
                if (openMenu == 'ourteamOpen') {
                    this.ourteamOpen = true
                } else {
                    this.ourteamOpen = false
                }

                if (openMenu == 'centersOpen') {
                    this.centersOpen = true
                } else {
                    this.centersOpen = false
                }

                if (openMenu == 'bodOpen') {
                    this.bodOpen = true
                } else {
                    this.bodOpen = false
                }

                if (openMenu == 'dapOpen') {
                    this.dapOpen = true
                } else {
                    this.dapOpen = false
                }

                if (openMenu == 'arOpen') {
                    this.arOpen = true
                } else {
                    this.arOpen = false
                }

            },

            clearsubmenus() {
                this.ourteamOpen = false
                this.centersOpen = false
                this.bodOpen = false
                this.dapOpen = false
                this.arOpen = false
            }
        }
    }
</script>

<script>
    function popupData() {
        return {
            popupOpen: false
        }
    }
</script>

<script>
    function panelData() {
        return {
            firstpanelOpen: true,
            secondpanelOpen: false,
            thirdpanelOpen: false,
            secondpanelText: false,
            thirdpanelText: false,
        }
    }
</script>




<!--
{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
-->

<script>
    function mobileData() {
        return {
            menuOpen: false,
            aboutOpen: false,
            programOpen: false,
            resourceOpen: false,
            newsOpen: false,
            involvedOpen: false,
            open(section) {
                switch (section) {
                    case "about":
                        this.aboutOpen = !this.aboutOpen;
                        this.programOpen = false;
                        this.resourceOpen = false;
                        this.newsOpen = false;
                        this.involvedOpen = false;
                        break;
                    case "program":
                        this.aboutOpen = false;
                        this.programOpen = !this.programOpen;
                        this.resourceOpen = false;
                        this.newsOpen = false;
                        this.involvedOpen = false;
                        break;
                    case "resource":
                        this.aboutOpen = false;
                        this.programOpen = false;
                        this.resourceOpen = !this.resourceOpen;
                        this.newsOpen = false;
                        this.involvedOpen = false;
                        break;
                    case "news":
                        this.aboutOpen = false;
                        this.programOpen = false;
                        this.resourceOpen = false;
                        this.newsOpen = !this.newsOpen;
                        this.involvedOpen = false;
                        break;
                    case "involved":
                        this.aboutOpen = false;
                        this.programOpen = false;
                        this.resourceOpen = false;
                        this.newsOpen = false;
                        this.involvedOpen = !this.involvedOpen;
                        break;
                }

            }
        }
    }
</script>

<div x-data="data()" class="z-50 relative ">

    <div class="bg-white shadow-lg w-full h-24 fixed flex flex-row justify-between md:hidden" x-data="mobileData()">

        <a class="flex flex-row content-center w-1/2" href="/">
            <img class=" py-2" src="https://ccee.org/wp-content/uploads/2019/07/CCEE-Logo-Final-5-2019-e1563236007990.png" />
        </a>
        <button class="rounded bg-white border mx-2 my-4 px-6 h-16" x-bind:class="{'shadow-inner' : menuOpen}" @click="menuOpen = !menuOpen">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path strokeLinecap="round" strokeLinejoin="round" strokeWidth={2} d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </button>

        <div class="absolute rounded-b-lg bg-white mx-4 mt-24 w-11/12 " x-show="menuOpen" @click.away="menuOpen=false">
            <div class="flex flex-col">

                <a class="bg-gray-100 text-center cursor-pointer font-roboto py-2 text-xl" @click="open('about')" x-bind:class="{'bg-cblue' : aboutOpen}">About Us 
                  <i class="fas fa-caret-down" x-show="!aboutOpen"></i><i class="fas fa-caret-up" x-show="aboutOpen"></i>
                </a>
                <div x-show="aboutOpen" class="flex flex-col transition-display" x-transition:enter="transition ease-out duration-300" x-transition:enter-start=" transform scale-y-50" x-transition:enter-end="opacity-100 transform scale-y-100" x-transition:leave="transition ease-in duration-300"
                    x-transition:leave-start="opacity-100 transform scale-y-100" x-transition:leave-end=" transform scale-y-50">
                    <a href="" class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl">Make economics and money understandable!</a>
                    <a href="/history-mission" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 text-xl">History + Mission</a>
                    <a href="/our-team" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 text-xl">Our Team</a>
                    <a href="/map" class="bg-gray-300 text-center cursor-pointer font-roboto py-2 text-xl">CCEE Centers on Economic Education</a>
                    <a href="/report" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 text-xl">Impact/Annual Reports</a>
                    <a class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 text-xl">Partners and Donors</a>
                </div>

                <a class=" bg-gray-100 text-center cursor-pointer font-roboto py-2 text-xl " @click="open( 'program') " x-bind:class="{ 'bg-cblue' : programOpen} ">
                  Programs <i class="fas fa-caret-down "></i>
                </a>

                <div x-show="programOpen " class="flex flex-col ">
                    <a href="/k12-programs" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Educator Programs</a>
                    <a href="/student-programs" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Student Programs</a>
                    <a href="/community-programs" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Community</a>
                    <a href="" class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Partner Programs</a>
                    <a href="/calendar" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Find upcoming programs and events</a>
                </div>

                <a class="hidden bg-gray-100 text-center cursor-pointer font-roboto py-2 text-xl " @click="open( 'resource') " x-bind:class="{ 'bg-cblue' : resourceOpen} ">Resources <i class="fas fa-caret-down "></i></a>

                <div x-show="resourceOpen " class="flex flex-col ">
                    <a href="/daily-dose" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Daily Dose of Econ</a>
                    <a class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Research</a>
                    <a class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Resources</a>
                    <a class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">Affiliate Partner Resources</a>
                </div>

                <a class="bg-gray-100 text-center cursor-pointer font-roboto py-2 text-xl " @click="open( 'news') " x-bind:class="{ 'bg-cblue' : newsOpen} ">News <i class="fas fa-caret-down "></i></a>

                <div x-show="newsOpen " class="flex flex-col ">
                    <a href="/news" class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl ">CCEE in the News</a>
                </div>

                <a class=" bg-gray-100 text-center cursor-pointer font-roboto py-2 text-xl " @click="open( 'involved') " x-bind:class="{ 'rounded-b-none bg-cblue ' : involvedOpen} ">Get Involved <i class="fas fa-caret-down "></i></a>

                <div x-show="involvedOpen " class="flex flex-col ">
                    <a class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl " href="/calendar">Calendar</a>
                    <a class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl " href="/donate">Donate</a>
                    <a class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl " href="/volunteer">Volunteer</a>
                    <a class="hidden bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl " href="/subscribe">Subscribe</a>
                    <a class=" bg-gray-300 text-center cursor-pointer font-roboto py-2 px-10 text-xl " href="/contact">Contact Us</a>
                    {% comment %} <a class="rounded-b-lg bg-gray-100 text-center cursor-pointer font-roboto py-4 px-10 text-xl "> </a> {% endcomment %}
                </div>

                <div class="bg-gray-100 py-2 align-center justify-center flex flex-row w-full rounded-b-lg pt-8">
                    <!--Envelope button-->
                    <button id="ccee-color" type="button" class=" text-xl btn-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline bg-cgreen hover:bg-cgreen-dark text-white  py-2 px-4 mr-1 rounded text-lg font-roboto ">Donate</button>
                    <button @click="popupOpen = true" type="button" id="button" class="text-xl btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border border-cblue hover:bg-cblue text-cblue hover:text-white  py-2 px-4 rounded text-lg font-roboto ">Join</button>
                    <!--Envelope button end-->

                </div>

            </div>
        </div>

    </div>

    <!-- Navbar -->
    <div class="m-md:hidden transition transition-height duration-500 ease-in-out w-full text-gray-700 bg-white h-20 fixed top-0 animated z-50 " x-bind:class='{ " shadow-lg ": !atTop, "h-24 shadow-md ": atTop  }' x-on:scroll.window="atTop=( window.pageYOffset>                100) ? false : true; "
        x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
        <div x-on:scroll.window="atTop = (window.pageYOffset > 100) ? false : true; " x-bind:class="{'mt-2 mb-2': atTop }" class="flex flex-col transition duration-500 max-w-screen-2xl px-2 mt-0  mx-auto md:items-center md:justify-between md:flex-row ">
            <div class="p-4 sm:flex flex-row space-x-8 items-center justify-between hidden">
                <a href="/" class="pr-10 tracking-widest rounded-lg flex-none focus:outline-none focus:shadow-outline">
                    <img class="-mt-4 h-20" src="https://ccee.org/wp-content/uploads/2019/07/CCEE-Logo-Final-5-2019-e1563236007990.png" />
                </a>

                <!--About us-->
                <div @mouseover.away="open = false
                whatwedoOpen = false" x-on:mouseover="open = true
                whatwedoOpen = true" x-on:click="open = !open" class="relative py-2" x-data="data()">

                    <button x-bind:class='{ "bg-gray-300": whatwedoOpen, "text-cblue": !whatwedoOpen  }' class="cursor-default flex rounded-t-md whitespace-nowrap items-center px-7 py-1 hover:bg-gray-300 mt-2 text-lg text-gray-600 font-bold  md:mt-0 hover:text-gray-600  ">
                        About Us
                    </button>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-50" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-full -mt-4 pt-4 origin-top-right rounded-b-lg shadow-lg md:w-72">
                        <div class="px-2 py-2 bg-gray-200 divide-y rounded-b-lg rounded-tr-lg">
                            <a class="hidden px-4 py-3 mt-2  bg-transparent  rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="#">Make Economics and money understandable!</a>
                            <a class="block px-4 py-3 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="/history-mission">History + Mission</a>
                            <a class="block px-4 py-3 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="/our-team">Our Team</a>
                            <a class="block px-4 py-3 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="/map">CCEE Centers on Economic Education</a>
                            <a class="block px-4 py-3 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="/report">Impact/Annual Reports</a>
                            <a class="block px-4 py-3 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue  focus:outline-none focus:shadow-outline" href="#">Partners + Donors</a>
                        </div>
                    </div>
                </div>
                <!--About us end-->

                <!-- Programs (What we do)-->
                <div @mouseover.away="open = false
                    whatwedoOpen = false" x-on:mouseover="open = true
                    whatwedoOpen = true" x-on:click="open = !open" class="relative py-2" x-data="data()">
                    <button x-bind:class='{ "bg-gray-300": whatwedoOpen, "text-cblue": !whatwedoOpen  }' class="cursor-default flex rounded-t-md whitespace-nowrap items-center px-7 py-1 hover:bg-gray-300  mt-2 text-lg text-gray-600 font-bold  md:mt-0 hover:text-gray-600  ">
                        Programs
                    </button>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-50" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-full -mt-4 pt-4 origin-top-right rounded-b-lg shadow-lg md:w-72">
                        <div class="px-2 py-2 bg-gray-200 divide-y rounded-b-lg rounded-tr-lg">
                            <a class="block px-4 py-2 mt-2  bg-transparent  rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/k12-programs">Educator Programs</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/student-programs">Student Programs</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/community-programs">Community Programs</a>
                            <a class="hidden block px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="#">Affiliate/Partner Programs</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/calendar">Find upcoming events and programs</a>
                        </div>
                    </div>
                </div>
                <!--Programs end-->

                <!--Resources-->
                <div class="hidden" @mouseover.away="open = false
                    whatwedoOpen = false" x-on:mouseover="open = true
                    whatwedoOpen = true" x-on:click="open = !open" class="relative py-2" x-data="data()">
                        <button x-bind:class='{ "bg-gray-300": whatwedoOpen, "text-cblue": !whatwedoOpen  }' class="cursor-default flex rounded-t-md whitespace-nowrap items-center px-7 py-1 hover:bg-gray-300 focus:bg-gray-600 mt-2 text-lg text-gray-600 font-bold  md:mt-0 hover:text-gray-600 focus:text-gray-600 focus:outline-none ">
                            Resources
                        </button>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-50" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-full -mt-4 pt-4 origin-top-right rounded-b-lg shadow-lg md:w-72">
                        <div class="px-2 py-2 bg-gray-200 divide-y rounded-b-lg rounded-tr-lg">
                            <a class="block px-4 py-2 mt-2  bg-transparent  rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/daily-dose">Daily Dose of Econ</a>
                            <a class="hidden px-4 py-2 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="#">Research</a>
                            <a class="hidden px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="#">Resources</a>
                            <a class="hidden px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="#">Affiliate Partner Resources</a>
                        </div>
                    </div>
                </div>
                <!--Resources end-->

                <!--News-->
                <div @mouseover.away="open = false
                whatwedoOpen = false" x-on:mouseover="open = true
                whatwedoOpen = true" x-on:click="open = !open" class="relative py-2" x-data="data()">
                    <button x-bind:class='{ "bg-gray-300": whatwedoOpen, "text-cblue": !whatwedoOpen  }' class="cursor-default flex rounded-t-md whitespace-nowrap items-center px-7 py-1 hover:bg-gray-300 focus:bg-gray-600 mt-2 text-lg text-gray-600 font-bold  md:mt-0 hover:text-gray-600 focus:text-gray-600 focus:outline-none ">
                        News
                    </button>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-50" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-full -mt-4 pt-4 origin-top-right rounded-b-lg shadow-lg md:w-64">
                        <div class="px-2 py-2 bg-gray-200 divide-y rounded-b-lg rounded-tr-lg">
                            <a class="block px-4 py-2 mt-2  bg-transparent  rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/news">CCEE in the News</a>
                        </div>
                    </div>
                </div>
                <!--News end-->

                <!--Get involved-->
                <div @mouseover.away="open = false
                    whatwedoOpen = false" x-on:mouseover="open = true
                    whatwedoOpen = true" x-on:click="open = !open" class="relative py-2" x-data="data()">
                    <button x-bind:class='{ "bg-gray-300": whatwedoOpen, "text-cblue": !whatwedoOpen  }' class="cursor-default flex rounded-t-md whitespace-nowrap items-center px-7 py-1 hover:bg-gray-300 focus:bg-gray-600 mt-2 text-lg text-gray-600 font-bold  md:mt-0 hover:text-gray-600 focus:text-gray-600 focus:outline-none ">
                        Get Involved
                    </button>

                    <div x-show="open" x-transition:enter="transition ease-out duration-100" x-transition:enter-start="transform opacity-0 scale-95" x-transition:enter-end="transform opacity-100 scale-100" x-transition:leave="transition ease-in duration-50" x-transition:leave-start="transform opacity-100 scale-100"
                        x-transition:leave-end="transform opacity-0 scale-95" class="absolute left-0 w-full -mt-4 pt-4 origin-top-right rounded-b-lg shadow-lg md:w-56">
                        <div class="px-2 py-2 bg-gray-200 divide-y rounded-b-lg rounded-tr-lg">
                            <a class="block px-4 py-2 mt-2  bg-transparent  rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/calendar">Upcoming Programs</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/donate">Donate</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/volunteer">Volunteer</a>
                            <a class="hidden px-4 py-2 mt-2  bg-transparent rounded text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/subscribe">Subscribe</a>
                            <a class="block px-4 py-2 mt-2  bg-transparent rounded  text-lg font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="/contact">Contact Us</a>
                            <a class="hidden block px-4 py-2 mt-2  bg-transparent rounded  text-sm font-bold md:mt-0 hover:text-gray-200 text-cblue focus:text-gray-900 hover:bg-cblue focus:bg-cblue focus:outline-none focus:shadow-outline" href="#">Jobs/Career</a>
                        </div>
                    </div>
                </div>
                <!--Get involved end-->

                <!--right aligned nav container-->
                <nav class="flex-col flex-grow pb-4 md:pb-0 hidden mr-14 md:flex md:justify-end md:flex-row bg-white font-bold">
                    <!--Envelope button-->
                    <button id="ccee-color" type="button" @click="location.href='/donate'" class="btn-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline bg-cgreen hover:bg-cgreen-dark text-white  py-2 px-4 mr-1 rounded text-lg font-bold">Donate</button>
                    <div type="button"  class="flex flex-row space-x-2 btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue  text-cblue py-2 px-4 rounded text-lg font-bold">
                        <input class="rounded-lg border-cblue border md:w-1/3 lg:w-2/3 px-2" placeholder="Email address"></input>
                        <button class="text-lg font-bold px-3 py-1 rounded-lg bg-cblue text-white border-cblue border">Join</button>
                    </div>
                    <!--Envelope button end-->




                </nav>

            </div>

        </div>
    </div>
    <!-- End Navbar -->




    <!--pop up-->
    <div>

        <!-- Dialog (full screen) -->
        <div class="fixed top-0 left-0 flex items-center justify-center w-full h-full z-100" style="background-color: rgba(0,0,0,.5);" x-show="popupOpen">

            <!-- A basic modal dialog with title, body and one button to close -->
            <div class="h-auto p-4 mx-2  bg-white rounded shadow-xl  md:p-6 lg:p-8 md:mx-0 md:max-w-4xl" @click.away="popupOpen = false">
                <div class="flex flex-row pt-8">
                    <img src="https://images.unsplash.com/photo-1579275542618-a1dfed5f54ba?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" class="w-0 md:w-1/4 object-cover rounded-lg" />
                    <div class="px-4 py-2 object-right">
                        <h3 class="text-3xl text-gray-800 font-bold">Get our email or whatever</h3>
                        <p class="text-xl text-gray-700">We sent latest news and posts once in every week, fresh from the oven</p>
                        <form class="mt-4 mb-10">
                            <input type="email" class="rounded bg-gray-100 px-4 py-2 border focus:border-green-400" placeholder="john@tech.com" />
                            <button class="px-4 py-2 rounded bg-green-800 text-gray-100">
                  Subscribe
                  <i class='bx bx-right-arrow-alt' ></i>
                </button>
                            <p class="text-green-900 opacity-50 text-sm mt-1">No spam. We promise</p>
                        </form>
                    </div>
                </div>
                <!-- One big close button.  -->
                <div class="mt-5 sm:mt-6">
                    <span class="flex justify-center rounded-md ">
              <div @click="popupOpen = false" class="cursor-pointer min-w-24 justify-center w-auto px-12 py-2 text-green-500 rounded hover:text-green-300">
                No thanks
              </div>
            </span>
                </div>

            </div>
        </div>
    </div>
    <!--end pop up-->
</div>