{% load static %}

<meta name="viewport" content="width=device-width, initial-scale=1" />

<link href="{% static "site.css" %}" rel="stylesheet">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"/>


<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

<script>
  
  function data() {
    return {
      open: false,
      ourteamOpen : false,
      centersOpen : false,
      bodOpen : false,
      dapOpen : false,
      arOpen : false,
      atTop : true,
      popupOpen : false,
      whatwedoOpen : false,
      menuClear(openMenu) {
        if(openMenu == 'ourteamOpen')
        {
          this.ourteamOpen = true
        }
        else
        {
          this.ourteamOpen = false
        }

        if(openMenu == 'centersOpen')
        {
          this.centersOpen = true
        }
        else
        {
          this.centersOpen = false
        }

        if(openMenu == 'bodOpen')
        {
          this.bodOpen = true
        }
        else
        {
          this.bodOpen = false
        }

        if(openMenu == 'dapOpen')
        {
          this.dapOpen = true
        }
        else
        {
          this.dapOpen = false
        }

        if(openMenu == 'arOpen')
        {
          this.arOpen = true
        }
        else
        {
          this.arOpen = false
        }
        
      },
      
      clearsubmenus()
      {
        this.ourteamOpen = false
        this.centersOpen = false
        this.bodOpen = false
        this.dapOpen = false
        this.arOpen = false
      }
    }
  }
</script>

<script>
  function popupData() {
      return {
        popupOpen : false
      }
  }
</script>

<script>
  function panelData() {
      return {
        firstpanelOpen : true,
        secondpanelOpen : false,
        thirdpanelOpen : false,
        secondpanelText : false,
        thirdpanelText : false,
      }
  }
</script>

{% include "polls/nav.html"%}


<div class="mx-auto flex flex-col max-w-screen-xl">
  <!--Banner Menu-->
  {% comment %} <div class="mx-auto flex flex-col max-w-screen-xl">
    <div class="flex flex-col md:flex-row mt-40 ">

      {% include 'polls/banner-nav.html'%}

    <div class="md:w-1/2 m-md:text-center m-md:mt-12">
        <h1 class="md:ml-16 m-md:p-4 text-9xl mt-12 text-gradient bg-cblue" style="font-family: 'Bebas Neue', cursive;">Our Team</h1>

        <p class="mx-4 md:mx-16 text-lg md:-mr-2" style="font-family: 'Roboto', sans-serif;">{{banner.description}}</p>
    </div>
  </div> {% endcomment %}

  <h1 class=" m-md:p-4 text-9xl mt-12 text-gradient bg-cblue mt-44 mx-auto" style="font-family: 'Bebas Neue', cursive;">Our Team</h1>

  <h1 class="text-7xl mx-auto text-cblue mt-20" style="font-family: 'Bebas Neue', cursive;">Staff</h1>
  <h1 class="text-4xl mx-auto my-2 mb-12 m-md:text-center" style="font-family: 'Bebas Neue', cursive;">Seasoned professionals in economics and financial literacy education</h1>
  <div class="mx-6 m-md:text-center md:mx-24">
    
    <!--Staff #1-->

    {%for staff in staff_list %}
    <div class=" border-t-2 border-b-2 py-8 border-gray-500">
      <div class="md:hidden ml-10  h-72 overflow-hidden content-center object-center rounded-lg">
        <img class="object-cover object-left  h-full rounded-full" src="{{staff.photo.url}}">
      </div>
      <h1 class="text-2xl font-bold">{{staff.name}}</h1>
      <h1 class="text-xl font-bold text-cblue">{{staff.position}}</h1>
      <div class="flex flex-col md:flex-row">
        
        <div class="md:w-11/12">
          <p class="leading-loose my-8 text-sm" style="font-family: 'Roboto', sans-serif;" >{{staff.bio}}</p>
          <p class="leading-loose mt-6 text-md font-bold" style="font-family: 'Roboto', sans-serif;" >{{staff.phone}}</p>
          <p class="leading-loose text-md text-cblue font-bold" style="font-family: 'Roboto', sans-serif;" >{{staff.email}}</p>
          <button type="button" id="button" class="hidden my-8 rounded-lg font-semibold btn-outline-primary transition duration-300 ease-in-out focus:outline-none focus:shadow-outline border-cblue border-2 bg-white hover-bg-blue-300  text-cblue font-normal py-1 px-3">
            Read More
          </button>
        </div>
        
        <div class="m-md:hidden ml-10 w-6/12 h-96 overflow-hidden content-center object-center rounded-lg">
          <img class="object-cover object-left  h-full rounded-full" src="{{staff.photo.url}}">
        </div>
        
      </div>
      
    </div>
    {% endfor %}

    <h1 class="text-7xl mx-auto text-cblue mt-20" style="font-family: 'Bebas Neue', cursive;">Officers</h1>
    <h1 class="text-4xl mx-auto my-2 mb-12 m-md:text-center" style="font-family: 'Bebas Neue', cursive;"></h1>

    {% for officer in officer_list %}
      <div class="flex flex-col space-y-4">
        <h1 class="font-roboto text-2xl text-cblue"> <span class="text-gray-900">{{officer.position}}</span> : {{officer.name}}</h1>
      </div>
    {% endfor %}
    
    

    <h1 class="text-7xl mx-auto text-cblue mt-20" style="font-family: 'Bebas Neue', cursive;">Directors</h1>
    <h1 class="text-4xl mx-auto my-2 mb-12 m-md:text-center" style="font-family: 'Bebas Neue', cursive;"></h1>

    <div class="grid grid-cols-1 md:grid-cols-4">
      {% for director in director_list %}
        <div class="p-4">
          <h1 class="font-roboto text-2xl text-cblue">{{director.name}}</h1>
          <h1 class="font-roboto text-2xl font-light italic text-cblue-light">{{director.position}}</h1>
          <h1 class="font-roboto text-xl font-light text-cgra-900">{{director.bio}}</h1>
          <h1 class="font-roboto text-xl font-light text-gray-700">{{director.address}}</h1>
          <h1 class="font-roboto text-xl font-light text-gray-700">{{director.phone}}</h1>
          <h1 class="font-roboto text-xl font-light text-cblue hover:cblue-light">{{director.email}}</h1>
        </div>
      {% endfor %}
    </div>
    

    
  </div>

  
</div>
{% include 'polls/footer.html'%}