<head>
    {% load static %}

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="{% static 'site.css' %}" rel="stylesheet">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>

    <script>
        function data() {
            return {
                open: false,
                ourteamOpen: false,
                centersOpen: false,
                bodOpen: false,
                dapOpen: false,
                arOpen: false,
                atTop: true,
                popupOpen: false,
                whatwedoOpen: false,
                menuClear(openMenu) {
                    if (openMenu == 'ourteamOpen') {
                        this.ourteamOpen = true
                    } else {
                        this.ourteamOpen = false
                    }

                    if (openMenu == 'centersOpen') {
                        this.centersOpen = true
                    } else {
                        this.centersOpen = false
                    }

                    if (openMenu == 'bodOpen') {
                        this.bodOpen = true
                    } else {
                        this.bodOpen = false
                    }

                    if (openMenu == 'dapOpen') {
                        this.dapOpen = true
                    } else {
                        this.dapOpen = false
                    }

                    if (openMenu == 'arOpen') {
                        this.arOpen = true
                    } else {
                        this.arOpen = false
                    }

                },

                clearsubmenus() {
                    this.ourteamOpen = false
                    this.centersOpen = false
                    this.bodOpen = false
                    this.dapOpen = false
                    this.arOpen = false
                }
            }
        }
    </script>


    <script>
        function popupData() {
            return {
                popupOpen: false
            }
        }
    </script>

    <script>
        function cardData() {
            return {
                caset: true,
                fed: true,
                smartpath: true,
                workshops: true
            }
        }
    </script>


</head>

{% include 'polls/nav.html'%}

<div class="  mx-auto flex flex-col text-center md:text-left" x-data="cardData()">
    <div class="m-md:mt-24 flex flex-col md:flex-row mt-14 max-w-7xl mx-auto ">
        <div class="rounded-lg md:h-96 md:w-full   h-72 m-md:mx-2 mt-16 bg-cover " style=" background-image: url({% static 'programs/IMG_9485.JPG' %});"></div>
        <div class="md:ml-10 md:w-10/12">
            <div class=" md:mt-32 mt-12 md:-mr-32"><span class="text-cblue text-5xl md:text-8xl p-2 rounded font-bebas m-md:text-center">Student Programs</span></div>
            <p class=" font-semibold text-gray-500 mx-4 mt-2">When students go through hands-on experiences, they come away with unforgettable memories that make learning even more powerful. Explore CCEE’s student programs below.</p>
        </div>
    </div>
    <div class=" flex flex-col grid grid-cols-1 md:grid-cols-4 gap-4  text-center  mx-4 md:mx-44 mt-24">


        <div>


            <div @click="window.location='/programs/young';" class="cursor-pointer relative border border-gray-500 overflow-hidden rounded-md justify-center content-center text-center h-64" style="background-image: url(https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg);  background-repeat: no-repeat; background-size: 250% 32rem; background-position: center; "
                x-bind:class="{'h-128': !fed }">
                <div class="absolute bg-cblue h-full w-full overflow-hidden opacity-100 z-10"></div>

                <div class="relative z-10 md:mx-2" @mouseover="fed = false" @mouseover.away="fed = true">
                    <h1 class="text-2xl font-bebas text-white z-10 mt-4">2nd-5th grade</h1>
                    <i class="fas fa-child fa-5x mb-6" style="color: #ffffff"></i>
                    <h1 class="text-4xl font-bebas text-white z-10 mb-14">Never Too Young</h1>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="fed"></p>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="!fed" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
                        The earlier students learn about important concepts such as budgeting, savings, and investing, the better. Students learn all about these themes through our after-school program, Never Too Young.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="cursor-pointer relative border border-gray-500 overflow-hidden rounded-md justify-center content-center text-center h-64" style="background-image: url(https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg);" x-bind:class="{'h-128': !caset }">
                <div class="absolute bg-cblue h-full w-full overflow-hidden opacity-100 z-10"></div>

                <div class="relative z-10" @mouseover="caset = false" @mouseover.away="caset = true">
                    <h1 class="text-2xl font-bebas text-white z-10 mt-4">6th-12th grade</h1>
                    <i class="fas fa-money-bill-alt fa-5x mb-6" style="color: #ffffff"></i>
                    <h1 class="text-4xl font-bebas text-white z-10 mb-4 m-md:mx-2">National Economics Challenge</h1>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="caset"></p>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="!caset" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
                        The National Economics Challenge is a great way for students to flex their intellectual muscle & test their economic content knowledge by competing with other students from across the state.
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="cursor-pointer relative border border-gray-500 overflow-hidden rounded-md justify-center content-center text-center h-64" style="background-image: url(https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg);" x-bind:class="{'h-128': !smartpath }">
                <div class="absolute bg-cblue h-full w-full overflow-hidden opacity-100 z-10"></div>

                <div class="relative z-10" @mouseover="smartpath = false" @mouseover.away="smartpath = true">
                    <h1 class="text-2xl font-bebas text-white z-10 mt-4">6th-12th grade</h1>
                    <i class="fas fa-coins fa-5x mb-6 " style="color: #ffffff"></i>
                    <h1 class="text-4xl font-bebas text-white z-10 mb-4 m-md:mx-2">Personal Finance Challenge</h1>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="smartpath"></p>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="!smartpath" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
                        The National Personal Finance Challenge is an opportunity for students to learn about personal finance by connecting with other students from across the state in an online competition. The top scoring teams are invited to the state championships where
                        they compete for cash prizes!
                    </p>
                </div>
            </div>
        </div>

        <div>
            <div class="cursor-pointer relative border border-gray-500 overflow-hidden rounded-md justify-center content-center text-center h-64" style="background-image: url(https://weareultraviolet.org/wp-content/uploads/2019/12/keep-abortion-legal-scaled-380x240.jpg);" x-bind:class="{'h-150': !workshops }">
                <div class="absolute bg-cblue h-full w-full overflow-hidden opacity-100 z-10"></div>

                <div class="relative z-10" @mouseover="workshops = false" @mouseover.away="workshops = true">
                    <h1 class="text-2xl font-bebas text-white z-10 mt-4 mb-2">9th-12th grade</h1>
                    <i class="fas fa-comment-dollar fa-5x mb-6 " style="color: #ffffff"></i>
                    <h1 class="text-4xl font-bebas text-white z-10 mb-12">The Adviser’s Contest</h1>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="workshops"></p>
                    <p class="relative overflow-ellipses mx-4 font-semibold text-lg text-white z-10 " x-show="!workshops" x-transition:enter="transition ease-out duration-300" x-transition:leave="transition ease-in duration-300">
                        The Adviser’s Contest provides California’s high school students with the opportunity to collaborate with an assigned a mentor– who is typically a Chartered Financial Analyst (CFA) or professional with a background in finance–and a fictional client case
                        study Over 4 weeks, students prepare a presentation with their mentor in anticipation of the virtual competition day
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="border border-gray-900 flex flex-col justify-center align-center rounded-lg mx-3 md:mx-32 my-12">
        <div class="mx-auto px-2 md:px-48 text-center text-5xl md:text-6xl text-cgreen font-bebas mt-12">
            Couple student contests with our professional development programs for an even richer instructional experience.
        </div>
        <div class="mx-auto px-2 md:px-48 text-center text-3xl md:text-5xl md:text-4xl text-cblue font-roboto mt-4">
            Start your journey towards confident economics and personal finance instruction today!
        </div>
        <a href="/k12-programs" class="border-2 text-white border-yellow-500 rounded-lg font-roboto text-2xl hover:bg-white hover:text-yellow-500 bg-yellow-500 text-white mx-auto my-12 py-2 px-3">
            Learn about our educator programs
        </a>
    </div>
    {% include 'polls/footer.html'%}
</div>